.App {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.SongPlayer {
  color: white;
  display: black;
  width: 300px;
  background-color: #313131;
  padding: 50px;
  border-radius: 16px;
  box-shadow: -6px -6px 12px rgba(0, 0, 0, 0),
    6px 6px 12px rgba(255, 255, 255, 0.4);
}

img {
  width: 300px;
  border-radius: 300px;
}
